@tailwind base;
@tailwind components;
@tailwind utilities;


.SideBar{
width: 160px;
height: calc(100vh - 75px);
background-color: #22c1c3;
top: 50px;
transition: 1s;
padding-top: 10px;
position: fixed;
right: -160px;
}


.SideBar span{
height: 35px;
color: rgb(0, 0, 0);
font-size: 16px;
font-weight: bold;
background-color: #22c1c3;
transition: 0.5s;
text-wrap: nowrap;
}
.SideBar span:hover{
cursor:url("../public/img/pointer.png") ,pointer;
background-color: #ffffff55;
}





.App{
    width: 100%;
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(34,193,195);
    background: linear-gradient(40deg, rgba(34,193,195,1) 0%, rgba(255,207,103,1) 100%);
    background-size: cover;
    background-position: center;
    cursor: url("../public/img/def.png") , crosshair !important ;
}

header img{cursor:url("../public/img/pointer.png") ,pointer;}
button{cursor:url("../public/img/pointer.png") ,pointer;}

input{outline: none;}

.Main{
width: 100%;
min-height: 88.5vh;
display: flex;
align-items: center;
flex-direction: column;
}


